<h1><%= @song.name %></h1>
<hr/>
<p>
  <h5><strong>Artist: <%= @song.artist %></strong></h5>
</p>

<p>
  <h5><strong><%= @song.url  %></strong></h5>
</p>

<hr/>
<h3><a href="/songs">Back to All Songs</a></h3>