
 <div class="jumbotron" style="background-image: url(https://wallpaperscraft.com/image/star_art_sky_night_people_silhouette_98142_1920x1080.jpg); background-size: 100%;"><h1>Music Wall</h1>
    <p>Play any song in a matter of seconds.</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/46/de/dd/46deddeeda3a7ac8aaaa98c41f7f678a.jpg" alt="...">
      <div class="caption">
        <h3>Song List</h3>
        <p>What songs do we have? Checkout our current list!</p>
        <p><a href="/songs" class="btn btn-primary" role="button">Show all songs</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://s5.favim.com/orig/54/apple-box-box-man-computer-Favim.com-529433.jpg" alt="...">
      <div class="caption">
        <h3>Add Songs</h3>
        <p>Have a song you like? Add it to the list!</p>
        <p><a href="/songs/new" class="btn btn-primary" role="button">Add a song</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://1.bp.blogspot.com/-bMVKht9C48U/U4s75TwZigI/AAAAAAAAFKs/zB54KwMoeQ8/s1600/little_box_man__3_.jpg" alt="...">
      <div class="caption">
        <h3>Playlists</h3>
        <p>Feature Coming soon...</p>
        <p><a href="/" class="btn btn-primary" role="button">Create a playlist.</a></p>
      </div>
    </div>
  </div>
</div>
